#plan-repeater-container {
    margin-top: 20px;
}

.plan-item {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
}

.plan-item:nth-child(2n-1) {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    position: relative;
}

.plan-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.plan-item input,
.plan-item textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #cecece !important;
    padding: 6px 14px 6px 30px !important;
    border-radius: 6px !important;
}

.plan-item .remove-plan {
    background-color: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 3px;
    /* position: absolute;
    top: 10px;
    right: 10px; */
}

#add-plan {
    margin-top: 10px;
    display: inline-block;
    background-color: #007cba;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
}

#add-plan:hover,
.plan-item .remove-plan:hover {
    opacity: 0.85;
}

.input-header select,
.input-header input:not([type="checkbox"]),
.step-condition {
    border: 1px solid #cecece !important;
    padding: 6px 14px 6px 30px;
    border-radius: 6px !important;
}

.step-condition {
    padding: 6px 14px 6px 30px !important;
}

.input-header input[type="checkbox"] {
    margin-right: auto;
}

.input-header button.delete-input-btn.button.button-small.button-danger {
    margin-right: auto;
}

button.delete-input-btn.button.button-small.button-danger,
button.delete-step-btn.button.button-danger {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    outline: 0;
    border: 1px solid gainsboro;
}

.input-header label {
    border: 1px solid #cecece !important;
    padding: 10px 14px 10px 30px !important;
    border-radius: 6px !important;
}

.step-header h3 {
    border: 1px solid #cecece;
    padding: 12px 14px 12px 30px;
    border-radius: 6px;
}

button.add-input-btn.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    outline: 0;
    border: 1px solid gainsboro;
}

div#sproduct-form-builder {
    .step-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    [contenteditable="true"] {
        border-bottom: 1px solid #b7b7b7;
        width: 25%;
        outline: 0;

    }

    .form-steps {
        .inputs {
            padding: 10px;
            margin: 20px 0;

            .input-item .input-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 16px 0;
                gap: 10px;
                flex-wrap: wrap;
            }
        }
    }
}

.checkbox-repeater {
    width: 100%;
}

.subscriptionsTableMainBody {

    .activeButton {
        span {
            background-color: #13aa13;
            color: white;
            padding: 6px 14px;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 600;
        }
    }

    .DeactiveButton {
        span {
            background-color: #e03d3d;
            color: white;
            padding: 6px 14px;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.checkbox-repeater button.add-option,
.checkbox-item button.delete-option,
.radio-item button.delete-option,
.radio-repeater button.add-option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    outline: 0;
    border: 1px solid gainsboro;
}

.checkbox-repeater .checkbox-item , 
.radio-repeater .radio-item {
    margin: 14px 10px;
}

.checkbox-repeater .checkbox-item input,
.radio-item input[type=text] ,
input.datepicker-input {
    border: 1px solid #cecece !important;
    padding: 4px 14px 4px 30px !important;
    border-radius: 6px !important;
}

.form-steps .step:nth-child(2n-1) {
    background-color: #f7f7f7ee;
    border-radius: 6px;
    padding: 10px;
}

.form-steps .step:last-child {
    margin-bottom: 20px;
}

.tablenav.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.tablenav-pages>span {
    color: #fff;
}

.tablenav-pages>a {
    color: #6d98ba;
    transition: all .3s linear;
}

.tablenav-pages>a:hover {
    color: #195f98;
}

.tablenav-pages>span,
.tablenav-pages>a {
    background-color: #1d2327;
    padding: 8px 12px;
    border-radius: 6px;
}

table.wp-list-table.widefat.fixed.striped {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #eaeaea;

    thead th {
        border-bottom: 1px solid #00000000 !important;
    }
}

input.condition-input {
    width: 85px;
    padding: 6px !important;
}

.uniqueid-checkbox {
    display: inline-block;
    border: 1px solid #cecece !important;
    padding: 8px 12px !important;
    border-radius: 6px !important;
    background-color: white;
}