.sproduct-step {
    margin-bottom: 20px;
}

.sproduct-navigation {
    margin-top: 20px;
}

button {
    margin-right: 10px;
}

button:disabled {
    display: none !important;
}
input.invalid {
    border: 2px solid red;
    background-color: #ffe6e6;
}
.checkbox-group {
    margin-top: 10px;
}
.checkbox-group div {
    margin-bottom: 8px;
}
.checkbox-group label {
    cursor: pointer;
}
